@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2000ms;
    }

    .animation-delay-4000 {
        animation-delay: 4000ms;
    }
}

button.animated {
    transition: all 0.3s ease;
}

button.animated:hover {
    background-color: #333;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* custom scrollbar */
.scrollbar-thin::-webkit-scrollbar {
    width: 0.2em;
}

.scrollbar-thin::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 40px;
}

/* font */

@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url('/fonts/BarlowSemiCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InaiMathi';
    src: url('/fonts/Poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}